body {
  background: #414141;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
.header {
  margin: 40px 0px 20px 0px;
}
.profile-img {
  border-radius: 100%;
  border: 3px solid #ffffff;
  max-width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
a:link, a:visited, a:active {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #fafafa;
  cursor: pointer;
}
.container {
  text-align: center;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.content {
  margin: 15px;

}
.social {
  text-align: left;
  margin: 20px 0px;
  display: inline-block
}
td {
  padding: 5px 10px;
}
.side-project-content {
  text-align: left;
  display: inline-block;
}
#side-project-ul {
  margin: 5px 0px;
}
#side-project-ul > li {
  padding: 2px;
}
@media (max-width: 425px) {
  .header {
    margin: 20px 0px;
  }
  .profile-img {
    max-width: 150px;
  }
}